<html>
	<head>
		<title>This is the title</title>
		<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs-3.3.6/dt-1.10.11/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/t/bs-3.3.6/dt-1.10.11/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
                $('#datatable').DataTable({
					processing: true,
					serverSide: true,
					ajax: '/data'
				});
            } );
		</script>
	</head>
	<body>
		<table id="datatable">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Temp</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
	</body>
</html>